In [1]:
text = "Data Carpentry"
number = 42
pi_value = 3.1415

In [2]:
print(text)

Data Carpentry

In [3]:
2*2

4

In [4]:
2+2

4

In [5]:
True and True

True

In [6]:
True and False

False

In [7]:
numbers = [1,2,3]

In [8]:
for num in numbers:
    print(num)

1
2
3

In [9]:
translations = {"one": 1, "two": 2}

In [10]:
translations["one"]

1

In [11]:
translations[0]

KeyError: 0

In [12]:
translations["three"] = 3

In [13]:
translations

{'one': 1, 'three': 3, 'two': 2}

In [14]:
for key, value in translations.items():
    print(key, "->", value)

one -> 1
two -> 2
three -> 3

In [15]:
translations["three"] = 4

In [16]:
for key, value in translations.items():
    print(key,"->",value)

one -> 1
two -> 2
three -> 4

In [17]:
translations["three"]=[3,"trois"]

In [18]:
for key, value in translations.items():
    print(key,"->",value)

one -> 1
two -> 2
three -> [3, 'trois']

In [19]:
for value in translations["three"]:
    print(value)

3
trois

In [20]:
del translations["three"]

In [21]:
translations

{'one': 1, 'two': 2}

In [22]:
print(translations)

{'one': 1, 'two': 2}

In [23]:
def add_function(a,b):
    result = a + b
    return result

In [24]:
z = add_function(20,22)

In [25]:
print(z)

42

In [27]:
a = 0
for i in range(1,100):
    a = a+i
print(a)

4950

In [28]:
list_1_100 = list(range(1,100))

In [31]:
print(list_1_100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [32]:
list_1_100[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Pandas in Python

In [33]:
import pandas as pd

In [34]:
import os

In [35]:
os.getcwd()

'/Users/mboisson/cq-formation-analyse-visualisation-python'

In [36]:
pd.read_csv("data/surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN
5,6,7,16,1977,1,PF,M,14,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37,NaN
8,9,7,16,1977,1,DM,F,34,NaN
9,10,7,16,1977,6,PF,F,20,NaN
10,11,7,16,1977,5,DS,F,53,NaN
11,12,7,16,1977,7,DM,M,38,NaN
12,13,7,16,1977,3,DM,M,35,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36,NaN
15,16,7,16,1977,4,DM,F,36,NaN
16,17,7,16,1977,3,DS,F,48,NaN
17,18,7,16,1977,2,PP,M,22,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48,NaN
20,21,7,17,1977,14,DM,F,34,NaN
21,22,7,17,1977,15,NL,F,31,NaN
22,23,7,17,1977,13,DM,M,36,NaN
23,24,7,17,1977,13,SH,M,21,NaN
24,25,7,17,1977,9,DM,M,35,NaN
25,26,7,17,1977,15,DM,M,31,NaN
26,27,7,17,1977,15,DM,M,36,NaN
27,28,7,17,1977,11,DM,M,38,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24,36
35520,35521,12,31,2002,9,DM,M,37,48
35521,35522,12,31,2002,9,DM,F,35,45
35522,35523,12,31,2002,9,DM,F,36,44
35523,35524,12,31,2002,9,PB,F,25,27
35524,35525,12,31,2002,9,OL,M,21,26
35525,35526,12,31,2002,8,OT,F,20,24
35526,35527,12,31,2002,13,DO,F,33,43
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25,25
35529,35530,12,31,2002,13,OT,F,20,NaN
35530,35531,12,31,2002,13,PB,F,27,NaN
35531,35532,12,31,2002,14,DM,F,34,43
35532,35533,12,31,2002,14,DM,F,36,48
35533,35534,12,31,2002,14,DM,M,37,56
35534,35535,12,31,2002,14,DM,M,37,53
35535,35536,12,31,2002,14,DM,F,35,42
35536,35537,12,31,2002,14,DM,F,36,46
35537,35538,12,31,2002,15,PB,F,26,31
35538,35539,12,31,2002,15,SF,M,26,68
35539,35540,12,31,2002,15,PB,F,26,23
35540,35541,12,31,2002,15,PB,F,24,31
35541,35542,12,31,2002,15,PB,F,26,29
35542,35543,12,31,2002,15,PB,F,27,34
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15,14
35547,35548,12,31,2002,7,DO,M,36,51
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [ ]:
surveys_df =