In [1]:
2+2

4

# Intro Python

In [2]:
text = "Data Carpentry"
number = 42
pi_value = 3.1415

In [4]:
number*2

84

In [5]:
numbers = [1,2,3]

In [6]:
for num in numbers:
    print(num)

1
2
3

In [7]:
translation = {"one": 1, "two": 2}
translation["one"]

1

In [10]:
def add_function(a,b):
    return a+b

In [9]:
z = add_function(20,22)
print(z)

42

# Starting With Data

In [11]:
import pandas as pd

In [12]:
pd.read_csv("data/surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN
5,6,7,16,1977,1,PF,M,14,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37,NaN
8,9,7,16,1977,1,DM,F,34,NaN
9,10,7,16,1977,6,PF,F,20,NaN
10,11,7,16,1977,5,DS,F,53,NaN
11,12,7,16,1977,7,DM,M,38,NaN
12,13,7,16,1977,3,DM,M,35,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36,NaN
15,16,7,16,1977,4,DM,F,36,NaN
16,17,7,16,1977,3,DS,F,48,NaN
17,18,7,16,1977,2,PP,M,22,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48,NaN
20,21,7,17,1977,14,DM,F,34,NaN
21,22,7,17,1977,15,NL,F,31,NaN
22,23,7,17,1977,13,DM,M,36,NaN
23,24,7,17,1977,13,SH,M,21,NaN
24,25,7,17,1977,9,DM,M,35,NaN
25,26,7,17,1977,15,DM,M,31,NaN
26,27,7,17,1977,15,DM,M,36,NaN
27,28,7,17,1977,11,DM,M,38,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24,36
35520,35521,12,31,2002,9,DM,M,37,48
35521,35522,12,31,2002,9,DM,F,35,45
35522,35523,12,31,2002,9,DM,F,36,44
35523,35524,12,31,2002,9,PB,F,25,27
35524,35525,12,31,2002,9,OL,M,21,26
35525,35526,12,31,2002,8,OT,F,20,24
35526,35527,12,31,2002,13,DO,F,33,43
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25,25
35529,35530,12,31,2002,13,OT,F,20,NaN
35530,35531,12,31,2002,13,PB,F,27,NaN
35531,35532,12,31,2002,14,DM,F,34,43
35532,35533,12,31,2002,14,DM,F,36,48
35533,35534,12,31,2002,14,DM,M,37,56
35534,35535,12,31,2002,14,DM,M,37,53
35535,35536,12,31,2002,14,DM,F,35,42
35536,35537,12,31,2002,14,DM,F,36,46
35537,35538,12,31,2002,15,PB,F,26,31
35538,35539,12,31,2002,15,SF,M,26,68
35539,35540,12,31,2002,15,PB,F,26,23
35540,35541,12,31,2002,15,PB,F,24,31
35541,35542,12,31,2002,15,PB,F,26,29
35542,35543,12,31,2002,15,PB,F,27,34
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15,14
35547,35548,12,31,2002,7,DO,M,36,51
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [13]:
surveys_df = pd.read_csv("data/surveys.csv")

In [14]:
type(surveys_df)

pandas.core.frame.DataFrame

In [15]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [16]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [18]:
surveys_df.head(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN
5,6,7,16,1977,1,PF,M,14,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37,NaN
8,9,7,16,1977,1,DM,F,34,NaN
9,10,7,16,1977,6,PF,F,20,NaN

In [19]:
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15,14
35547,35548,12,31,2002,7,DO,M,36,51
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [20]:
surveys_df.shape

(35549, 9)

In [21]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [22]:
pd.unique(surveys_df.species_id)

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [23]:
surveys_df.weight.describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [25]:
surveys_df["weight"].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [26]:
col = "weight"
surveys_df[col].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [27]:
surveys_df["weight"].count()

32283

In [28]:
surveys_df["weight"].min()

4.0

In [29]:
surveys_df["weight"].mean()

42.672428212991356

In [30]:
sorted = surveys_df.groupby('sex')

In [31]:
sorted.describe()

                    day  hindfoot_length         month       plot_id  \
sex
F   count  15690.000000     14894.000000  15690.000000  15690.000000
    mean      16.007138        28.836780      6.583047     11.440854
    std        8.271144         9.463789      3.367350      6.870684
    min        1.000000         7.000000      1.000000      1.000000
    25%        9.000000        21.000000      4.000000      5.000000
    50%       16.000000        27.000000      7.000000     12.000000
    75%       23.000000        36.000000     10.000000     17.000000
    max       31.000000        64.000000     12.000000     24.000000
M   count  17348.000000     16476.000000  17348.000000  17348.000000
    mean      16.184286        29.709578      6.392668     11.098282
    std        8.199274         9.629246      3.420806      6.728713
    min        1.000000         2.000000      1.000000      1.000000
    25%        9.000000        21.000000      3.000000      5.000000
    50%       16.000000        34.000000      6.000000     11.000000
    75%       23.000000        36.000000      9.000000     17.000000
    max       31.000000        58.000000     12.000000     24.000000

              record_id        weight          year
sex
F   count  15690.000000  15303.000000  15690.000000
    mean   18036.412046     42.170555   1990.644997
    std    10423.089000     36.847958      7.598725
    min        3.000000      4.000000   1977.000000
    25%     8917.500000     20.000000   1984.000000
    50%    18075.500000     34.000000   1990.000000
    75%    27250.000000     46.000000   1997.000000
    max    35547.000000    274.000000   2002.000000
M   count  17348.000000  16879.000000  17348.000000
    mean   17754.835601     42.995379   1990.480401
    std    10132.203323     36.184981      7.403655
    min        1.000000      4.000000   1977.000000
    25%     8969.750000     20.000000   1984.000000
    50%    17727.500000     39.000000   1990.000000
    75%    26454.250000     49.000000   1997.000000
    max    35548.000000    280.000000   2002.000000

In [32]:
sorted["weight"].mean()

sex
F    42.170555
M    42.995379
Name: weight, dtype: float64

In [ ]:
sorted[.count()